.header {
  width: 100%;
  background: var(--secondery-color);
  box-shadow: 0 0.2rem 3rem 0rem rgba(0,0,0, .4);
  position: fixed;
  left: 0;
  top: -100px;
  padding: 1rem;
  font-size: 4rem;
  font-family: cursive;
  z-index: 999;
  animation: goDown .7s .4s forwards;

  display: flex;
  align-items: center;
}
.header > img {
  animation: rotate 5s 1s infinite ease-in-out;
}
.body {
  width: 100%;
  margin-top: 15rem;

  display: flex;
  justify-content: space-evenly;
}
.body > * {
  width: 50%;
}
.body > *:not(:last-child) {
  margin-right: 5rem;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 900px) {
  .body {
    flex-direction: column;
    align-items: center;
  }
  .body > *:first-child {
    width: 90%;
    margin: 0;
  }
  .body > *:last-child {
    order: -1;
    width: 100%;
    margin-bottom: 3rem;
  }
}

/*ANIMATION*/
@keyframes rotate {
  0% {transform: rotate(0deg)}
  5% {transform: rotate(10deg)}
  9% {transform: rotate(0deg)}
  13% {transform: rotate(10deg)}
  18% {transform: rotate(0deg)}
}
@keyframes goDown {
  0% {top: -100px}
  100% {top: 0}
}
