<mat-expansion-panel [expanded]="driver.name === 'James Smith'">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{driver.name}}
    </mat-panel-title>
    <mat-panel-description>
      {{driver.email}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="driver__prop">
    <p><b>Phone:</b> {{driver.phone}}</p>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="action">Driver Action</button>
    <mat-menu #action="matMenu">
      <button mat-menu-item (click)="onAction('edit')">Edit</button>
      <button mat-menu-item (click)="onAction('delete')">Remove</button>
    </mat-menu>
  </div>
  <div class="driver__tasks">
    <mat-list #tasks role="list">
      <mat-list-item #taskName role="listitem" *ngFor="let task of driver.tasks" (click)="onSelected(tasks, taskName)">
        {{task.id}}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</mat-expansion-panel>
